body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0b0b0b;
  color: #fff;
}

header {
  text-align: center;
  padding: 30px 20px;
  background: #000;
  border-bottom: 1px solid gold;
}

header h1 {
  margin: 0;
  font-size: 32px;
  letter-spacing: 2px;
  color: gold;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #111;
  padding: 15px;
}

nav a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: gold;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #000, #1a1a1a);
}

.hero h2 {
  font-size: 36px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: gold;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.products {
  padding: 50px 20px;
  text-align: center;
}

.product {
  display: inline-block;
  background: #111;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  width: 220px;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.05);
  border: 1px solid gold;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.contact {
  background: #111;
  padding: 40px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 15px;
  background: #000;
}
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 15px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}